{%- liquid
  assign order = order | split: ','
  assign left = ''
  assign center = ''
  assign right = ''

  if first != blank
    assign left = 'first '
  endif

  for item in order
    assign column_key = item | append: '_position'
    assign row_key = item | append: '_row'
    assign item_row = settings[row_key] | default: 'top'
    assign item_column = settings[column_key] | default: 'left'

    case item
      when 'actions':
        assign item_column = 'right'
    endcase

    if item_row == row
      case item_column
        when 'left'
          assign left = left | append: item | append: ' '
        when 'center'
          assign center = center | append: item | append: ' '
        else
          assign right = right | append: item | append: ' '
      endcase
    endif
  endfor

  assign columns = 'left,center,right' | split: ','
-%}

{%- for column in columns -%}
  {%- capture items_for_column -%}
    {% case column %}
      {% when 'left' %}
        {{ left }}
      {% when 'center' %}
        {{ center }}
      {% else %}
        {{ right }}
    {% endcase %}
  {%- endcapture -%}

  {%- assign items_array = items_for_column | strip | split: ' ' | compact -%}

  {%- if items_array.size > 0 -%}
    <div
      class="header__column header__column--{{ column }}"
      data-testid="header-{{ row }}-{{ column }}"
    >
      {% for key in items_array %}
        {% unless key == blank %}
          {% case key %}
            {% when 'first' %}
              {{ first }}
            {% when 'logo' %}
              {{ logo }}
            {% when 'menu' %}
              <button id="all-categories-btn" class="all-categories button-modal">
                  {{ 'categories-red.svg' | inline_asset_content -}}
                  <span class="modal-button-label">
                    Browse all categories
                  </span>
                <span class="header__secondary-menu hidden-menu">
                <div class="mega-menu" role="navigation" aria-label="Main categories">
                  {%- for link in secondary_menu.links -%}
                    <div class="menu-column">
                      {%- comment -%} Top-level title as heading {%- endcomment -%}
                      <h3 class="menu-title">
                        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                          {{ link.title }}
                        </a>
                      </h3>
                      {%- if link.links != blank -%}
                        <ul class="submenu" role="menu" aria-label="{{ link.title }}">
                          {%- for child_link in link.links -%}
                            <li role="none">
                              <a class="submenu-link"
                                href="{{ child_link.url }}"
                                role="menuitem"
                                {% if child_link.active %}aria-current="page"{% endif %}>
                                {{ child_link.title }}
                              </a>

                              {%- if child_link.links != blank -%}
                                <ul class="sub-submenu" role="menu" aria-label="{{ child_link.title }}">
                                  {%- for grandchild_link in child_link.links -%}
                                    <li role="none">
                                      <a class="sub-submenu-link"
                                        href="{{ grandchild_link.url }}"
                                        role="menuitem"
                                        {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                        {{ grandchild_link.title }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}

                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  {%- endfor -%}
                </div>

                </span>
              </button>
              {{ menu }}
              {% render 'header-contact',
                show_mobile_number: show_mobile_number,
                mobile_number: mobile_number %}
            {% when 'localization' %}
              {{ localization }}
            {% when 'search' %}
              <div class="open-search-modal-wrapper">
                {% render 'search-modal' %}
                     <h2
                      id="search-modal-heading"
                      class="visually-hidden"
                    >
                      {{ 'content.search' | t }}
                    </h2>
                    {% render 'predictive-search',
                      input_id: 'cmdk-input',
                      search_test_id: 'search-component--modal',
                      products_test_id: 'products-list-default--modal'
                    %}
              </div>
              {% comment %} {{ search }} {% endcomment %}

            {% when 'mobile_search' %}
              {{ mobile_search }}
            {% when 'actions' %}
              {{ actions }}
          {% endcase %}
        {% endunless %}
      {% endfor %}
    </div>
  {%- endif -%}
{%- endfor -%}
<script>
  //on click of all-categories-btn add class active to span.header__secondary-menu ans clicking outside removes the class
  document.getElementById('all-categories-btn').addEventListener('click', function(event) {
    event.stopPropagation();
    var menu = this.querySelector('.header__secondary-menu');
    //if menu is already visible, hide it
    if (!menu.classList.contains('hidden-menu')) {
      menu.classList.add('hidden-menu');
      return;
    }
    menu.classList.remove('hidden-menu');
    // Close the menu when clicking outside
    document.addEventListener('click', function outsideClickListener(event) {
      if (!menu.contains(event.target) && event.target !== document.getElementById('all-categories-btn')) {
        menu.classList.add('hidden-menu');
        document.removeEventListener('click', outsideClickListener);
      }
    });
  });
</script>