

{%- doc -%}
  This block is used to display the add to cart button.
  Intended for product-form.liquid block.

  @param {string} can_add_to_cart - Whether the product can be added to the cart
  @param {string} add_to_cart_text - The text of the add to cart button
{%- enddoc -%}

{% liquid
  assign class = 'add-to-cart-button ' | append: block.settings.style_class
  assign id = 'BuyButtons-ProductSubmitButton-' | append: block.id
%}

<span
  {{ block.shopify_attributes }}
  style="--add-to-cart-font-case: {{ settings.button_text_case }};"
> <div class="back-in-stock-wrapper">
    <span id="notify-link" class="notify-link" 
      {% if product.selected_or_first_available_variant.available == true %}
        style="display:none;"
      {% endif %}>
        Notify Me
    </span>
      
      <div id="modal-bg" class="modal-bg">
        <div class="notify-modal" style="display:none;">
          <div 
          hidden
          class="hidden"
          id="notify-data"
        data-customer-id="{{ customer.id }}"
        data-product-id="{{ product.id }}"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
        data-variant-available="{{ product.selected_or_first_available_variant.available }}"
        data-email="{{ customer.email }}"
        >
        </div>
          <div class="notify-description" id="notify-message">
            
            A mail will be sent to your mail id.
          </div>
          <div class="button-group-wrapper">
            <button class="primary button-primary" id="notify-submit">Ok</button>
            <button class="secondary button-secondary" id="notify-cancel">Cancel</button>
          </div>
          <modal-message id="result-response" class="result-response">
            <div id="response-msg" class="response-msg"></div>
          </modal-message>
        </div>
      </div>
</div> 
  {% render 'add-to-cart-button',
    id: id,
    class: class,
    can_add_to_cart: can_add_to_cart,
    product: closest.product,
    add_to_cart_text: add_to_cart_text
  %}
</span>

{% schema %}
{
  "name": "t:names.add_to_cart",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        }
      ],
      "default": "button-secondary"
    }
  ]
}
{% endschema %}
