<style>
        .yy-career-content-section-container{
            margin-top: 130px;
            margin-bottom: 80px;
        }
        .yy-career-content-section-container > h1{
            font-weight: 900;
            font-size: 38px;
            line-height: 64px;
            color: #000;
            margin-block-end: 24px !important;
        }
        .yy-career-content-row{
            display: flex;
            gap: 100px;
            align-items: flex-start;
        }
        .yy-career-content-column{
            width: 100%;
        }
        .yy-career-content-column p{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-content-column p a{
            font-weight: 700;
            color: red;
            text-decoration: none;
        }
        .yy-career-list-container{
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 84px;
        }
        .yy-career-list-item{
            display: flex;
            gap: 27px;
            padding: 24px 27px;
            border-radius: 18px;
            border: 1px solid #000000;
        }
        .yy-career-icon{
            background-color: #ED1D2329;
            padding: 15px 18px;
        }
        .yy-career-icon img{
            width: 92px;
            height: 92px;
        }
        .yy-career-content-block{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .yy-career-content{
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        .yy-career-content_title{
            font-weight: 800;
            font-size: 22px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-content_description > p span{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
        .yy-career-content_description > p{
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            margin: 0;
        }
        .yy-career-button .button{
            height: 60px;
            width: 174px;
            font-weight: 700;
            font-size: 18px;
            line-height: 25.2px;
            padding: 17px 33px;
            text-transform: uppercase;
        }
        @media screen and (max-width: 1024px){
            .yy-career-content-section-container{
                margin-top: 60px;
                margin-bottom: 30px;
            }
            .yy-career-content-row{
                gap: 30px;
            }
        }
        @media screen and (max-width: 900px){
            .yy-career-content-section-container{
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .yy-career-content-row{
                flex-direction: column;
                gap: 20px;
            }
            .yy-career-list-container{
                grid-template-columns: 1fr;
            }
        }
         @media screen and (max-width: 768px){
            .yy-career-list-container{
                gap: 15px;
                margin-top: 50px;
            }
            .yy-career-content-block{
                gap: 12px;
            }
            .yy-career-icon-block{
                width: max-content;
            }
            .yy-career-icon img{
                width: 62px;
                height: 62px;
            }
            .yy-career-content-column p{
                font-size: 16px;
            }
         }
         @media screen and (max-width: 600px){
            .yy-career-list-item{
                flex-direction: column;
            }
        }

        {% comment %} Dialog CSS {% endcomment %}
         .dialog-career{
            border: none;
            max-width: 788px;
            width: 100%;
            padding: 60px;
            overflow: visible;
            border-radius: 13px;
        }
        .career-form-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 19px;
            letter-spacing: 0.1px;
            margin: 0;
            margin-bottom: 50px;
        }
        .dialog-career-form input, .dialog-career-form textarea{
            border: 1px solid #CCCCCC;
            height: 55px;
            border-radius: 6px;
            padding: 15px 24px;
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.4px;
        }
        .dialog-career-form textarea{
            height: unset;
        }
        .dialog-career-form input::placeholder, .dialog-career-form textarea::placeholder{
            color: #000;
        }
        .dialog-career-form{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .career-file-input-btn{
            border: 1px solid #CCCCCC;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;
            width: 225px;
            height: 58px;
            padding: 15px;
        }
        .popup-close {
            position: absolute;
            top: -44px;
            right: -44px;
            border: none;
            cursor: pointer;
            width: 44px;
            height: 44px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 200px;
            color: #E90000;
            z-index: 999999;
            background-color: #D9D9D9;
        }
        @media screen and (max-width: 1024px){
            .dialog-career{
                width: calc(100% - 80px);
                max-width: 600px;
                padding: 25px;
            }
            .dialog-career-form{
                max-height: 450px;
                overflow: auto;
            }
        }
         @media screen and (max-width: 600px){
             .dialog-career{
                margin-left: 40px;
                margin-right: 40px;
                width: calc(100% - 80px);
                max-width: 600px;
                padding: 25px;
            }
            .dialog-career-form input, .dialog-career-form textarea{
                height: 40px;
            }
            .dialog-career-form textarea{
                height: unset;
            }
         }
    </style>

    <div class="yy-career-content-section-wrapper section section--page-width">
        <div class="yy-career-content-section-container">
            <h1>Careers</h1>
            <div class="yy-career-content-row">
                <div class="yy-career-content-column">
                    <p>As a responsible employer, we offer a friendly and ethical work environment to our staff.</p>
                    <p>We welcome your interest in working with us, and encourage you to apply by sending through your most recent resume and cover letter directly on <a href="#">info@yesyesindiansupermarket.com.au</a></p>
                    <p>Please note that due to the high number of applications, we will get in touch with selected candidates only.</p>
                </div>
            </div>
            <div class="yy-career-list-container">
                {% for block in section.blocks %}
                    <div class="yy-career-list-item">
                        <div class="yy-career-icon-block">
                            <div class="yy-career-icon">
                                <img src="{{ block.settings.image | image_url : width: 300 }}" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="yy-career-content-block">
                            <div class="yy-career-content">
                                <h2 class="yy-career-content_title">{{ block.settings.heading }}</h2>
                                <div class="yy-career-content_description">
                                    <p><span>{{ block.settings.heading-detail-1}}</span> {{ block.settings.description-detail-1}}</p>
                                    <p><span>{{ block.settings.heading-detail-2}}</span> {{ block.settings.description-detail-1}}</p>
                                </div>
                            </div>
                            <div class="yy-career-button">
                                <button class="button button--primary show-dialog"  data-position="{{ block.settings.heading }}">{{ block.settings.button-text}}</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="">
        <button class="show-dialog" data-position="Sales Executive">Sales Executive</button>
        <button class="show-dialog" data-position="Marketing Manager">Marketing Manager</button>
        <dialog id="dialog-career" class="dialog-career">
            <h2 class="career-form-title">Apply for Marketing Manager</h2>
            <form method="dialog" class="dialog-career-form">
                <input type="text" hidden name="career_position" value="">
                <input type="text" name="name" id="name" placeholder="Name" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <textarea name="" id="" rows="5" placeholder="Attached note"></textarea>
                <label class="career-file-input-btn">
                    <input type="file" name="career_resume" id="resume" hidden>
                    <img src="https://cdn.shopify.com/s/files/1/0979/1825/5185/files/upload-icon.svg?v=1765183044" width="28px" height="" alt="">
                    Upload  Resume
                </label>
                
                <button type="submit" class="button button--primar career-form-submit_button">Confirm</button>
            </form>
            <button class="close-dialog popup-close">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5112 2.82825L11.3933 8.9461L17.14 14.6927C17.4448 14.9976 17.6082 15.4188 17.5943 15.8638C17.5804 16.3088 17.3902 16.7411 17.0657 17.0656C16.7412 17.3901 16.3089 17.5803 15.8639 17.5942C15.4189 17.6081 14.9977 17.4447 14.6928 17.1399L8.9462 11.3932L2.82835 17.5111C2.50384 17.8356 2.07153 18.0257 1.62652 18.0397C1.18152 18.0536 0.760272 17.8902 0.455452 17.5853C0.150631 17.2805 -0.012793 16.8593 0.00112992 16.4143C0.0150535 15.9693 0.205183 15.5369 0.529694 15.2124L6.64754 9.09459L0.900905 3.34795C0.596085 3.04313 0.43266 2.62188 0.446583 2.17687C0.460506 1.73187 0.650636 1.29956 0.975148 0.975048C1.29966 0.650537 1.73197 0.460406 2.17697 0.446483C2.62198 0.43256 3.04322 0.595985 3.34805 0.900805L9.09469 6.64744L15.2125 0.529595C15.537 0.205083 15.9694 0.0149526 16.4144 0.00102932C16.8594 -0.0128947 17.2806 0.150531 17.5854 0.455352C17.8903 0.760172 18.0537 1.18142 18.0398 1.62642C18.0258 2.07143 17.8357 2.50374 17.5112 2.82825Z" fill="#ED1D23"></path>
                </svg>
            </button>
        </dialog>
    </div>
    <script>
        const dialog = document.querySelector('#dialog-career');
        const showDialogButtons = document.querySelectorAll('.show-dialog');
        const closeDialog = document.querySelector('.close-dialog');

        const careerInput = document.querySelector('input[name="career_position"]');
        const careerTitle = document.querySelector('.career-form-title');

        showDialogButtons.forEach(btn => {
            btn.addEventListener('click', function () {
                const position = this.dataset.position;

                careerInput.value = position;

                careerTitle.textContent = `Apply for ${position}`;
                console.log(careerTitle);
                careerInput.value = careerTitle.textContent;

                dialog.showModal();
            });
        });

        closeDialog.addEventListener('click', () => dialog.close());

        dialog.addEventListener('click', (event) => {
            const rect = dialog.getBoundingClientRect();
            const isInDialog =
                event.clientX >= rect.left &&
                event.clientX <= rect.right &&
                event.clientY >= rect.top &&
                event.clientY <= rect.bottom;

            if (!isInDialog) dialog.close();
        });
    </script>

{% schema %}
{
  "name": "Career Content",
  "tag": "section",
  "class": "career-content-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ],
  "blocks": [
    {
        "type": "job_block",
        "name": "Job",
        "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image",
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "default": "Block Heading"
        },
        {
            "type": "header",
            "content": "Details 1"
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading-detail-1",
          "default": "Qualification"
        },
        {
          "type": "textarea",
          "label": "Description",
          "id": "description-detail-1",
          "default": "Enter description here."
        },
        {
            "type": "header",
            "content": "Details 2"
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading-detail-2",
          "default": "Location"
        },
        {
          "type": "textarea",
          "label": "Description",
          "id": "description-detail-2",
          "default": "Enter description here."
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "button-text",
            "label": "Button Text",
            "default": "Apply Now"
        }
      ]
            
    }
  ],
  "presets": [
    {
      "name": "Career Content"
    }
  ]
}
{% endschema %}