
    <div class="yy-page-banner-wrapper section section--page-width section-{{ section.id }}">
        <div class="yy-page-banner-container">
            <div class="yy-page-banner-image-block block-shape">
                {% if section.settings.banner_image != blank %}
                    {{ section.settings.banner_image | image_url: width: 1600 | image_tag  }}
                {% else %}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'page-placeholder-image' }}
                {% endif %}
            </div>
            <div class="yy-page-banner-arrow-block">
                <div class="yy-page-banner-arrow-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <path d="M21.7255 13.2013C21.726 13.0929 21.7049 12.9855 21.6633 12.8854C21.6218 12.7853 21.5606 12.6945 21.4835 12.6183L14.8835 6.0183C14.7271 5.87257 14.5203 5.79323 14.3065 5.797C14.0928 5.80078 13.8889 5.88736 13.7377 6.03851C13.5866 6.18967 13.5 6.39359 13.4962 6.60732C13.4925 6.82105 13.5718 7.0279 13.7175 7.1843L19.7345 13.2013L13.7175 19.2183C13.5718 19.3747 13.4925 19.5815 13.4962 19.7953C13.5 20.009 13.5866 20.2129 13.7377 20.3641C13.8889 20.5152 14.0928 20.6018 14.3065 20.6056C14.5203 20.6094 14.7271 20.53 14.8835 20.3843L21.4835 13.7843C21.5606 13.7081 21.6218 13.6173 21.6633 13.5172C21.7049 13.4171 21.726 13.3097 21.7255 13.2013Z" fill="currentColor"></path>
                        <path d="M21.7258 13.2C21.7229 12.9821 21.6351 12.7739 21.481 12.6198C21.3269 12.4657 21.1187 12.3778 20.9008 12.375L5.50078 12.375C5.28198 12.375 5.07214 12.4619 4.91742 12.6166C4.7627 12.7714 4.67578 12.9812 4.67578 13.2C4.67578 13.4188 4.7627 13.6286 4.91742 13.7834C5.07214 13.9381 5.28198 14.025 5.50078 14.025L20.9008 14.025C21.1187 14.0222 21.3269 13.9343 21.481 13.7802C21.6351 13.6261 21.7229 13.4179 21.7258 13.2Z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>

<style>
  .section-{{ section.id }} .block-shape {
    --r: clamp(14px, 2vw, 60px);
    --s: clamp(20px, 2.2vw, 60px);
    --x: clamp(10px, 1.9vw, 30px);
    --y: clamp(10px, 1.9vw, 30px);

    background: #3FB8AF;
    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
    --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
    --_d: calc(var(--s) + var(--r));

    mask:
        calc(100% - var(--_d) - var(--x)) 100% var(--_m),
        100% calc(100% - var(--_d) - var(--y)) var(--_m),
        radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
            calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
        var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
        var(--_g) 0 calc(-1 * var(--_d) - var(--y));

    mask-repeat: no-repeat;
}

@media screen and (max-width: 600px){
  .section-{{ section.id }} .block-shape{
    --s: clamp(12px, 3vw, 60px);
    --x: clamp(8px, 2vw, 30px);
    --y: clamp(8px, 2vw, 30px);
  }
  .yy-page-banner-arrow-block{
    padding-bottom: 5px;
    padding-right: 5px;
  }
  .yy-page-banner-arrow-circle{
    --circle-size: clamp(20px, 6vw, 120px);
  }
}
</style>

{% schema %}
{
  "name": "Page Banner",
  "tag": "section",
  "class": "image-banner-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ],
  "presets": [
    {
      "name": "Page Banner"
    }
  ]
}
{% endschema %}
